*.aux
*.eventlog
*.eventlog.*.html
*.hp
*.pdf
*.prof
*.ps
.env
.exrc
.ghci
.profile
_cache/
_site/
build/
cabal.project.local
dist-newstyle/
dist/
js/node_modules/
js/node_modules/
profile*
release/
result
result/
tags/
